<ion-view title="Dealers" id="page7">
  <ion-content padding="true" style="background: url(img/qa2ykqF0QoeX1j6LQH57_512571-craft-wallpaper.png) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/nRWiPZPSJSICyfOgooFu_2017-04-101.png" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="dealers-form4" class="list">
      <label class="item item-input" id="dealers-search5">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </form>
    <div class="list card" id="dealers-card24">
      <div class=" item item-image">
        <img src="img/S4TX7lfFQrWXtj4O57S2_Adidas-Logo-880x660.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="dealers-list-item-container6">
        <div id="dealers-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Adidas Showroom</strong>
          </p>

          <p style="color:#000000;">Addidas showroom Sri lanka 78 Sri Sambuddhathva Jayanthi Mawatha</p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right assertive" id="dealers-list-item31">
        <i class="icon ion-android-done-all"></i>View Offers
        <i class="icon ion-android-exit icon-accessory"></i>
      </ion-item>
    </div>
    <div class="list card" id="dealers-card25">
      <div class=" item item-image">
        <img src="img/CIThprLST1qmv7X46KCk_321451_v2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="dealers-list-item-container7">
        <div id="dealers-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Reebok Showroom</strong>
          </p>

          <p style="color:#000000;">Reebok Showroom Sri lanka 150 Bauddhaloka Mawatha, Colombo 4. +94 11 494 3160</p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right assertive" id="dealers-list-item32">
        <i class="icon ion-android-done-all"></i>View Offers
        <i class="icon ion-android-exit icon-accessory"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>