<ion-view title="Favorites" id="page8">
  <ion-content padding="true" style="background: url(img/lj2XuZM0QxSNi0YIcCB7_512571-craft-wallpaper.png) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/GgtByCsZR8OACIB7Kyn0_2017-04-101.png" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="favorites-list4">
      <ion-item class="item-thumbnail-left item-icon-right" id="favorites-list-item33">
        <img src="img/wJ6ViWLTWOlJcH21720l_Airtel-Logo.jpg">
        <h2>Airtel</h2>
        <p>Weekly flyers</p>
        <i class="icon ion-android-arrow-dropright-circle icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="favorites-list-item34">
        <img src="img/uyCVZlzBTCmFIc5qcZeG_Adidas-Logo-880x660.png">
        <h2>Adidas</h2>
        <p>Daily flyers</p>
        <i class="icon ion-android-arrow-dropright-circle icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="favorites-list-item35">
        <img src="img/Gfdl1NLR4K3GS2ncyO4Z_321451_v2.jpg">
        <h2>Reebox</h2>
        <p>Daily flyers</p>
        <i class="icon ion-android-arrow-dropright-circle icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>