<ion-view title="Login" hide-nav-bar="true" id="page10" style="background-color:#000000;">
  <ion-content padding="true" style="background: url(img/xva3tOuISO2vKdTU6OpR_512571-craft-wallpaper.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/UF2pjfttToyvBpP3oOuK_2017-04-101.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form5" class="list">
      <ion-list id="login-list6">
        <label class="item item-input" id="login-input1">
          <input type="text" placeholder="Enter email or username">
        </label>
        <label class="item item-input" id="login-input2">
          <input type="password" placeholder="Enter password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.home" id="login-button1" style="font-weight:500;color:#FFFFFF;" class="button button-royal  button-block icon-right ion-log-in">Log in</a>
      <a ui-sref="signUp()" id="login-button2" style="color:#FFFFFF;" class="button button-dark button-block" href="#/signUp">Or create an account</a>
    </form>
  </ion-content>
</ion-view>