<ion-view title="Near By Me" id="page9" >
<div  >
  <ion-content padding="true" style="background: url(img/Juih6YyqRoWV9s1DuiWC_512571-craft-wallpaper.png) no-repeat center;background-size:cover;" class="has-header"  >
  	<!-- -->

  <div id="map_canvas" data-tap-diabled="true" style="position: absolute;overflow: visible;width: 100%;height: 300%;"></div> 

						<h3>DIRECTIONS</h3>
						<p><div id="panel" style="  position: absolute;
    top: 350%;background: #ccc; overflow: auto;"></div> </p>


  </ion-content>

     <!--     style="
        position: absolute;
        height: 800%;
        width: 100%;" -->

</div>
</ion-view>